*{
    margin: 0; padding: 0;
}

.container{
    width: 1000px;
    height: 800px;
    background-color: dodgerblue;
}

header{
    width: 200px;
    height: 800px;
    background-color: pink;
    float: left;
}

section{
    width: 800px;
    height: 300px;
    background-color: aqua;
    float: left;
}

.img_slider{
    width: 800px;
    height: 400px;
    background-color: blue;
}

.content{
    width: 800px;
    height: 300px;
    background-color: aquamarine;
}

footer{
    width: 800px;
    height: 100px;
    background-color: red;
}

.content div{
    width: 33.33%;
    height: 300px;
    float: left;
}

.content .notice{
    background-color: gray;
}
.content .banner{
    background-color: #bbb;
}
.content .icons{
    background-color: #ccc;
}

footer div{
    float: left;
}

.f_logo{
    width: 200px;
    height: 100px;
    float: left;
    background-color: aqua;
}
.f_menu{
    width: 600px;
    height: 50px;
    background-color: green;
}
.f_copy{
    width: 600px;
    height: 50px;
    background-color: darkolivegreen;
}

.logo{
    margin: 20px auto;
}

.logo img{
    width: 100%;
}

.hMenu ul {
    margin: 0 10px;
    height: 200px;
    border: 1px solid black;
    list-style: none;
}

.hMenu nav ul li a{
    display: block;
    color: black;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}

.hMenu nav ul li:hover a{
    background-color: antiquewhite;
}