*{margin: 0; padding: 0;}
#container{
    width: 1200px;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 120px;
    background-color: cadetblue;
}

#content{
    /* height: 600px; 둘다 같은 효과*/
    overflow: hidden;
    /* 범위를 넘어가는것을 숨기처리해서 빈공간을 제거하였기에 footer가 내려감 */
}

#section{
    width: 900px;
    height: 600px;
    background-color: cornflowerblue;
    float: left;
    /* 본문과 사이드바 둘다에 float를 줘야 정상적으로 쌓인다 */
}

#sidebar{
    width: 300px;
    height: 600px;
    background-color: burlywood;
    float: left;
}

#footer{
    width: 100%;
    height: 100px;
    background-color: darkblue;
    /* clear: both; */
}